{% extends 'base.html' %}

{% block content %}
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Hot updates</p>
						<h1>News Article</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- latest news -->
	<div class="latest-news mt-150 mb-150">
		<div class="container">
			<div class="row">
				{% for n in news %}
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="/newsDetail/{{n.id}}"><img src="../Media/{{n.news_img}}" alt="" class="latest-news-bg"></a>
						<div class="news-text-box">
							<h3><a href="/newsDetail/{{n.id}}">{{n.news_title}}</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i>{{n.posted_by}}</span>
								<span class="date"><i class="fas fa-calendar"></i> {{n.news_date}}</span>
							</p>
							<p class="excerpt">{{n.news_desc}}</p>
							<a href="/newsDetail/{{n.id}}" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>

			<div class="row">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 text-center">
							<div class="pagination-wrap">
								<ul>
							{% if products.has_previous %}
								<li><a href="/news/?page=1">First</a></li>
								<li><a href="/news/?page={{news.previous_page_number}}">Prev</a></li>
							{% endif %}
							{% for n in totalpagelist %}
								<li><a href="/news/?page={{n}}">{{n}} </a></li>
							{% endfor %}
							{% if products.has_next %}
								<li><a href="/news/?page={{news.next_page_number}}">Next</a></li>
								<li><a href="/news/?page={{lastpage}}">Last</a></li>
							{% endif %}
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end latest news -->

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="../static/img/company-logos/1.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="../static/img/company-logos/2.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="../static/img/company-logos/3.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="../static/img/company-logos/4.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="../static/img/company-logos/5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->


	{% endblock %}