{% extends 'base.html' %}

{% block content %}
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Classy & Luxuries</p>
						<h1>Shop</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- products -->
	<div class="product-section mt-150 mb-150">
		<div class="container">

			<div class="row">
                <div class="col-md-12">
                    <div class="product-filters">
                        <ul>
                            <li class="active" data-filter="*">All</li>
                            <li data-filter=".Handbags">Handbags</li>
                            <li data-filter=".Backpacks">Backpacks</li>
                            <li data-filter=".Crossbody">Crossbody Bag</li>
                            <li data-filter=".Totebag">Tote Bag</li>
                            <li data-filter=".Clutches">Clutches</li>
                            <li data-filter=".Laptop">Laptop Bag</li>
                        </ul>
                    </div>
                </div>
            </div>

			<div class="row product-lists">
				{% for p in products %}
				<div class="col-lg-4 col-md-6 text-center {{p.product_catagory}}">
					<div class="single-product-item">
						<div class="product-image">
							<a href="/productDetail/{{p.id}}"><img src="../Media/{{ p.product_image }}" alt=""></a>
						</div>
						<h3>{{p.product_name}}</h3>
						<p class="product-price">Rs {{p.product_price}}.00 <span>({{p.product_quantity}})</span>
						</p>
						{% if request.session.customer_id %}
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
						{% else %}
						<a href="{% url 'login' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
						{% endif %}
					</div>
				</div>
				{% endfor %}
			</div>

			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="pagination-wrap">
						<ul>
							{% if products.has_previous %}
							<li><a href="/shop/?page=1">First</a></li>
							<li><a href="/shop/?page={{products.previous_page_number}}">Prev</a></li>
							{% endif %}
							{% for n in totalpagelist %}
							<li><a href="/shop/?page={{n}}">{{n}} </a></li>
							{% endfor %}
							{% if products.has_next %}
							<li><a href="/shop/?page={{products.next_page_number}}">Next</a></li>
							<li><a href="/shop/?page={{lastpage}}">Last</a></li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end products -->

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="../static/img/company-logos/1.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="../static/img/company-logos/2.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="../static/img/company-logos/3.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="../static/img/company-logos/4.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="../static/img/company-logos/5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->
	{% endblock %}